html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    font-family: "Roboto", sans-serif;
    background-color: #eee;
    line-height: 1.5;
    max-width: 1200px;
    margin: 12px auto;
}

.body--dark {
    background-color: #222;
    color: #eee;
}